  @import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@700;800&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  /* font-family: 'Martian Mono', monospace;
  font-family: 'Noto Serif', serif;
  font-family: 'Poppins', sans-serif;*/

  /* Boiler plate */
  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  /* General design to apply to the quiz*/
  body {
      /*The image had been taken https: //pixabay.com/photos/cosmos-milky-way-night-sky-stars-1853491/*/
      background: url(../images/background.webp) left 30% bottom 50%/180%;
      background-repeat: repeat;
      background-color: rgb(43, 71, 84);
      background-blend-mode: exclusion;
      font-family: 'Noto Serif', sans-serif;
  }

  /* Class to hide all the divs and texts which are not to be shown on a certain page*/
  .hide {
      display: none;
  }

  /* Added general style and animation for starting the game and the score */
  #start,
  #score-holder {
      background-color: rgba(218, 228, 232, 0.6);
      margin: 1rem;
      padding: 1rem;
      border-radius: 2rem;
      animation: slide-in .5s ease-out forwards;
  }

  /* Welcome text */
  #start>h1 {
      font-size: 2rem;
      text-align: center;
      margin: 3rem .5rem 4rem .5rem;
      color: rgb(255, 255, 255);
  }

  /* Style the label of the name input */
  .your-name {
      font-size: 1.1rem;
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
  }

  /* Add margin to the icon to look nicer */
  .your-name>i {
      margin-right: .6rem;
      margin-top: 0.3rem;
  }

  /* Style the input */
  #name-input {
      height: 2.5rem;
      width: 100%;
      margin: .1rem 0;
      padding: .3rem;
      border: 1px solid rgb(223, 230, 235);
      border-radius: .6rem;
      background-color: rgba(223, 230, 235, .6);
  }

  /* Style all the buttons to look similar */
  .btn {
      height: 2rem;
      width: 50%;
      font-weight: 300;
      background-color: rgb(20, 35, 90);
      border: 1px solid rgb(223, 230, 235);
      color: rgb(223, 230, 235);
      border-radius: .5rem;
      display: block;
      margin: .8rem auto 1rem auto;
  }

  /* Make som space between the icon and the text */
  .btn i {
      margin-left: .5rem;
  }

  #score-holder {
      align-items: center;
      justify-content: space-between;
      padding: 1rem 3rem;
  }

  /* Style the incorrect score, correct score, the timer and the symbols */
  #incorrect,
  #incorrect-symbol,
  #max-incorrect {
      color: rgb(237, 52, 52);
      font-weight: 800;
  }

  #correct,
  #correct-symbol,
  #max-correct {
      margin: 0 .1rem;
      color: rgb(213, 243, 233);
      font-weight: 800;
  }

  .time-counter {
      color: rgb(20, 35, 90);
      font-weight: 800;
  }

  .time-counter-red {
      color: rgb(237, 52, 52);
      font-weight: 900;
      font-size: 1.5rem;
  }

  /* Styling the questions holder, the question font and the answer */
  #question-holder {
      font-size: 1.2rem;
      align-items: center;
      margin-bottom: 1rem;
      text-align: center;
  }

  #questions {
      background-color: rgba(218, 228, 232, 0.6);
      margin: 1rem;
      padding: 1rem;
      border-radius: 2rem;
  }

  .answer {
      width: 100%;
      margin: .5rem auto;
      padding: 1rem;
      min-height: 4rem;
      border: 1px solid rgb(223, 230, 235);
      background-color: rgba(28, 77, 112, 0.2);
      border-radius: 1rem;
      display: flex;
      align-items: center;
  }

  /* Background to cover the questions when the user loses the game */
  #finished-game {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      margin: 0;
      z-index: 100;
      background-color: rgba(0, 0, 0, .75);
  }

  /* Background to cover the start page when the user reads the instructions */
  #info {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      margin: 0;
      z-index: 100;
      background-color: rgba(0, 0, 0, .75);
      /*enable the scrolling*/
      overflow-y: auto;
  }

  /* Style the text and the container in info */
  #info-text {
      max-width: 80rem;
      margin: 5rem 1.5rem;
      padding: 1rem;
      border-radius: 2rem;
      background-color: rgba(218, 228, 232, 0.9);
  }

  #info-text>h2 {
      text-align: center;
  }

  #info-text em {
      font-weight: 800;
  }

  /* Style the game over text */
  #text-container {
      margin: 6rem 1.5rem;
      padding: 1rem;
      border-radius: 2rem;
      background-color: rgba(218, 228, 232, 0.9);
  }

  /* Class to add blocks through JS to animate and make visible */
  .visible {
      display: block;
      animation: slide-in 0.3s ease-out forwards;
      pointer-events: all;
  }

  /* Animate all the NEXT QUESTIONS */
  .next-question {
      animation: slide-right 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      /* pointer-events: all; --- what is this*/
  }

  /* The error page */
  #error-page {
      background-color: rgba(218, 228, 232, 0.9);
      padding: 2rem;
      border-radius: 2rem;
      margin: 2rem 1.5rem;
      animation: slide-right 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  #error-page h1 {
      padding-bottom: 1rem;
      text-align: center;

  }

  #error-page p {
      font-size: 1.5rem;
      text-align: center;
  }

  #error-page a {
      color: inherit;
      font-size: 1.5rem;
      font-style: oblique;
  }

  /* Media query: Tablets and larger (768px and bigger)*/
  @media screen and (min-width: 768px) {

      /* Restyling the start of the game for bigger screens */
      #start {
          margin: 30% 3rem auto 3rem;
          padding: 2rem;
      }

      #start>h1 {
          font-size: 3rem;
      }

      .your-name {
          font-size: 2rem;
      }

      #name-input {
          height: 4rem;
          width: 80%;
          font-size: 1rem;
          margin: .1rem 10%;
          padding: .5rem;
      }

      /* Change the buttons in bigger screens */
      .btn {
          display: inline;
          height: 3rem;
          max-width: 40%;
          font-weight: 300;
          font-size: 1.5rem;
          border-radius: .8rem;
      }

      #btn-container {
          margin: 0 10%;
          display: flex;
          justify-content: center;
      }

      /* Make the fonts bigger and add more padding for the info text */
      #info-text {
          padding: 3rem;
      }

      #info-text>h2 {
          font-size: 2rem;
      }

      #info-text p {
          font-size: 1.5rem;
      }

      /* Change the display of the buttons in bigger screens */
      #ok-btn,
      #next-btn,
      #restrart-btn {
          display: block;
          margin: 2rem auto;
      }

      /* Push the score holder down and add more margin on the sides */
      #score-holder {
          margin: 8% 15%;
          min-height: 6rem;
          font-size: 2rem;
          padding: 1rem 6rem;
      }

      /* Push the question container down */
      #questions {
          margin: 8%;
          padding: 3rem;
      }

      #questions>h2 {
          font-size: 2.5rem;
      }

      #answer-options {
          font-size: 1.8rem;
      }

      /* Make the timer's font (when 5 sec. left) bigger for tablets */
      .time-counter-red {
          font-weight: 1000;
          /* Was 1200, changed */
          font-size: 3rem;
      }

      #text-container {
          text-align: center;
          font-size: 2.5rem;
          margin: 30% 10%;
          padding: 1.8rem;
      }
  }

  /* Media query: Tablets and larger (992px and bigger)*/
  @media screen and (min-width: 992px) {

      /* Adjust the start page for laptops */
      #start {
          margin: 4% 10rem auto 10rem;
          padding: 3rem;
      }

      #name-input {
          width: 70%;
          margin: .1rem 15%;

      }

      /* Make the buttons smaller */
      .btn {
          max-width: 30%;
          font-size: 1.2rem;
      }

      #btn-container {
          margin: 0 15%;
      }

      /* Move the info in the middle of the page*/
      #info-text {
          margin: 5% auto;
          padding: 3rem;
      }

      /* Add hover effects for the buttons */
      .btn:hover,
      .btn:active {
          background-color: rgb(135, 142, 169);
          color: rgb(20, 35, 90);
          font-size: 1.5rem;
          font-weight: 1000;
          cursor: pointer;
      }

      /* Adjust the scores and the questions to look nice on the laptops and bigger screens */
      #score-holder {
          margin: 2% 25%;
          font-size: 2rem;
      }

      #questions {
          margin: 3% 13%;
          padding: 3rem;
      }

      #questions>h2 {
          margin-bottom: 3rem;
      }

      #text-container {
          margin: 5% 13%;
          padding: 2.5rem;
      }

      /* The error page */
      #error-page {
          padding: 4rem;
          margin: 6rem;
      }

      #error-page h1 {
          padding-bottom: 2rem;
          font-size: 3rem;
      }

      #error-page p {
          font-size: 2rem;
      }

      #error-page a {
          font-size: 2rem;
      }

  }

  /*Animation for loading the page*/
  @keyframes slide-in {
      from {
          transform: translateY(-5rem);
      }

      to {
          transform: translateY(0);
      }
  }

  /*Animation for loading the questions*/
  @keyframes slide-right {
      from {
          transform: translateX(-8rem);
      }

      to {
          transform: translateX(0);
      }
  }